@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
  background-color: lighten($link-base-color, 5%);
}
#headInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

/* logo */
.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  letter-spacing: .05em;
}
.logo a {
  color: #fff;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}

/* main */
#main {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}


/* -------------------------------------
 * footer
------------------------------------- */
#footer {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
  border-top: #e1e1e1 1px solid;
  box-sizing: border-box;
}
#footInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

/* about */
.about .social {
  text-align: right;
}
.about .social li {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  line-height: 1.5;
}

/* -------------------------------------
 * aboveFooter
------------------------------------- */
.aboveFooter {
  // 1px 50px + 15px * 2 + 24px * 1.5 = 117px
  min-height: calc(100vh - 117px);
}