@charset "UTF-8";

/* -------------------------------------
 *
 * module
 *
------------------------------------- */
/* -------------------------------------
 * common module
------------------------------------- */
/* entry */
.entry {
  clear: both;
}
.entry + .entry {
  position: relative;
  margin: 75px 0 0;
  padding: 75px 0 0;
}
.entry + .entry:before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 3px;
  background-color: #666;
}
.entry .entryHeader {
  margin: 0 0 40px;
}
.entry .entryDate {
  font-size: 14px;
}
.entry .entryTitle {
  font-size: 28px;
  line-height: 1.4;
}
.entry .entryContent {
}
.entry .entryContent h2 {
  margin: 2em 0 .25em;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}
.entry .entryContent h3 {
  margin: 2em 0 .25em;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}
.entry .entryContent p,
.entry .entryContent ol,
.entry .entryContent ul,
.entry .entryContent pre {
  margin: 1.5em 0;
}
.entry .entryContent ul,
.entry .entryContent ol {
  margin-left: 1.5em;
}
.entry .entryContent ul li {
  list-style-type: disc;
}
.entry .entryContent ol li {
  list-style-type: decimal;
}
.entry .entryContent li ul,
.entry .entryContent li ol {
  margin-top: 0;
  margin-bottom: 0;
}
.entry .entryContent hr {
  width: 40%;
  height: 1px;
  margin: 2em auto;
  border: none;
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #ccc 50%,
    #fff 100%
  );
}
.entry .entryContent h2 + *,
.entry .entryContent h3 + * {
  margin-top: .5em;
}
.entry .iframeWrapper {
  position: relative;
  width: 100%;
  height: 0;
  margin: 1em 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.entry .iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.entry .entryContent a {
  color: $link-base-color;
}
.entry .entryContent a:hover,
.entry .entryContent a:active,
.entry .entryContent a:focus {
  color: darken($link-base-color, 10%);
}
.entry .entryContent :not(pre) code {
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  background-color: #fbfbfb;
  border: #ccc 1px solid;
  font-family: monospace;
}


/* archive */
.archive {
  clear: both;
}
.archive .archiveTitle {
  font-size: 24px;
}
.archive .archiveEntryList li {
  margin: 30px 0 0;
}
.archive .archiveEntryList .archiveEntryDate {
  font-size: 14px;
}
.archive .archiveEntryList .archiveEntryTitle {
  font-size: 20px;
  line-height: 1.4;
}


/* pagination */
.pagination {
  clear: both;
  margin: 60px 0 0;
}
.pagination ul {
}
.pagination li,
.pagination .sibling {
  display: inline-block;
  margin: 0 2px 5px 0;
}
.pagination li a,
.pagination li span,
.pagination .sibling a {
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  padding: 0 10px;
  border: $text-base-color 2px solid;
  box-sizing: border-box;
  text-align: center;
  line-height: 32px;
  transition: border-color .2s;
}
.pagination li a:hover,
.pagination .sibling a:hover {
  border-color: $link-base-color;
}
/* active */
.pagination li span {
  opacity: .5;
}