@charset "UTF-8";

/* -------------------------------------
 *
 * plugins
 *
------------------------------------- */
/* -------------------------------------
 * icomoon
------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?euzwim');
  src:url('../fonts/icomoon.eot?#iefixeuzwim') format('embedded-opentype'),
    url('../fonts/icomoon.woff?euzwim') format('woff'),
    url('../fonts/icomoon.ttf?euzwim') format('truetype'),
    url('../fonts/icomoon.svg?euzwim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e600";
}
.icon-feed:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e602";
}
