@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
  background-color: #f5f5f5;
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
}
#headInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

/* logo */
.logo {
  font-size: 32px;
  text-align: center;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}

/* main */
#main {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}


/* -------------------------------------
 * footer
------------------------------------- */
#footer {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}
#footInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

/* about */
.about {
  clear: both;
}
.about .social {
  text-align: center;
}
.about .social li {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}

/* -------------------------------------
 * aboveFooter
------------------------------------- */
.aboveFooter {
  // 50px + 15px * 2 + 24px * 1.6 = 68.4px
  min-height: calc(100vh - 118.4px);
}