@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
  background-color: #f5f5f5;
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}
#headInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

/* logo */
.logo {
  text-align: center;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}

/* main */
#main {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}


/* -------------------------------------
 * footer
------------------------------------- */
#footer {
  clear: both;
  width: 100%;
  margin: 50px 0 0;
}
#footInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

/* nav */
#nav {
  text-align: center;
}
#nav li {
  display: inline-block;
  margin: 0 20px;
}

/* about */
.about {
  clear: both;
  margin: 20px 0 0;
}
.about .social {
  text-align: center;
}
.about .social li {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}